<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<app-contador></app-contador>
//vemos el ejemplo del contador desde la forma mas simple
    
<!--1. De esra forma visualizariamos nuestro contador, sin que todavía pueda sumar o restar
    <button >+1</button>

    <span>{{numero}}</span>

    <button >-1</button>

2. Para que pueda sumar o restar agregaremos a nuestro boton un evento del tipo click.
Esto en angular cambiar completamente ya que al solo colocar el evento realiza la accion cuando le decimos que es lo que 
tiene que hacer dentor de las "". 
**NO OLVIDAR** al ponerle () a una etiqueta de html lo que que estamos haciendo es asignandole un evento.

Quedaría entonces:
    Dentro de las "" podemos escribir una epresion de JS
     <button (click)="numero=numero +1">+1</button>
                     esto es como decir
                     this.numero
    <span>{{numero}}</span>

    <button (click)="numero=numero -1">-1</button>
                    esto es como decir
                    this.numero

 3. Mejoramos: Reemplazo dentro del evento click por un metodo ()  
    <button (click)="sumar()">+1</button>
                    
    <span>{{numero}}</span>

    <button (click)="restar()">-1</button>

4. Optimizamos ambos metodos en uno solo que se va a llamar acumulador()
    <button (click)="acumular(+1)">+1</button>
                    
    <span>{{numero}}</span>

    <button (click)="acumulador(-1)">-1</button>

5.TAREA: de 5 en 5
AHORA ESTAMOS EN EL ARCHIVO CONTADOR.COMPONENTS.TS
Como mi archivo contador.component.ts no tiene archivo html y esta ubicado en otra carpeta, se usa un template propio
dentro del propio archivo con vatics.

   <h3>La base es: {{ base }}</h3>
    La base tiene que ser la propiedad que yo tengo en mi
    componente

    <button (click)="acumulador(base)">+{{ base }}</button>

    <span>{{numero}}</span>

    <button (click)="acumulador(- base)">-{{ base }}</button>

                    -->
<!--<app-heroe></app-heroe>-->
<!--<app-listado></app-listado> Si queremos mostrar lo que tiene dentro una propiedad
de nuestro componente/clase, lo que hay que hacer es colocarlo entre {{aca propiedad}}-->

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


